.vscode/
.vscode-test/
out/
node_modules/
src/
.git/
.esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.agents/
**/skills/
**/documents/
**/specs/
*.vsix
.direnv
